/* Intestazione */

.image-box {
    width: 70px;
    margin-left: 15px;
}

.search-box {
    width: 18%;
    display: flex;
    justify-content: flex-end;
}

[class^='btn'] {
    width: 100%;
    text-align: left;
}

.form-control::placeholder { 
    color: white;
}

/* Sezione Centrale */

#wrapper {
    height: calc(100vh - 92px);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;
    display: flex;
}

h1 {
    font-weight: 450;
    font-size: 28px;
}

.interactive-container {
    display: flex;
    flex-wrap: wrap;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

